<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.allumez.celpipcafe">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.CelpipCafe_TopicTitleActivity"></activity>
        <activity
            android:name=".UserDashBoard.Profile.LoginKeysActivity"
            android:label="@string/profile_manage_login_keys" />
        <activity
            android:name=".UserDashBoard.Profile.AccountSettingsActivity"
            android:label="@string/profile_edit_account_settings" />
        <activity
            android:name=".UserDashBoard.Profile.AvatarActivity"
            android:label="@string/profile_edit_avatar" />
        <activity
            android:name=".UserDashBoard.Profile.SignatureActivity"
            android:label="@string/profile_edit_signature" />
        <activity
            android:name=".UserDashBoard.Overview.ManageNotificationsActivity"
            android:label="@string/overview_Manage_Notifications" />
        <activity
            android:name=".UserDashBoard.Overview.ManageAttachmentsActivity"
            android:label="@string/overview_Manage_Attachments" />
        <activity
            android:name=".UserDashBoard.Overview.ManageDraftsActivity"
            android:label="@string/overview_Manage_Drafts" />
        <activity
            android:name=".UserDashBoard.Overview.ManageBookmarksActivity"
            android:label="@string/overview_Manage_Bookmarks" />
        <activity
            android:name=".UserDashBoard.Overview.ManageSubscriptionActivity"
            android:label="@string/overview_Manage_Subscription" />
        <activity
            android:name=".UserDashBoard.Overview.FrontPageActivity"
            android:label="@string/overview_FrontPage" />
        <activity
            android:name=".UserDashBoard.UserDashboardActivity"
            android:label="@string/title_activity_celpip_cafe__logged_in__user_dashboard_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.CelpipCafe_SubForumName_Activity"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".Activities.CelpipCafe_ForumParentName_Activity"
            android:theme="@style/NoActionBar" />
        <activity android:name=".LoginAndRegistration.CelpipCafe_RegistrationActivity" />
        <activity android:name=".LoginAndRegistration.CelpipCafe_LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>